/* Style for navigation bar */
html {
   background: url(js_img1.jpg) center center / cover no-repeat fixed;
   height: 100%;
   font-family: "Arial", "Helvetica", sans-serif;
}

body {
    background-color: white;
    width: 70%;
    margin: auto;
}
ul.navbar {
    list-style-type: none;
    background-color: #333;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #555;
}

/* Style for the main content */
.content {
    padding: 20px;
}

/* Style for blockquotes */
.blockquote {
    background-color: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}


